<launch>

    <rosparam file="$(find tobor_locomotion)/conf/motors.yaml" />

    <node
        name= "teleop_convert"
        pkg = "tobor_locomotion"
        type= "teleop_node">
    </node>

    <node 
        name= "roboclaw_ifc"
        pkg = "tobor_locomotion"
        type = "roboclaw_ifc.py"
        output = "screen" >
    </node>

    <node
	name = "gpsd_client"
	pkg = "gpsd_client"
	type = "gpsd_client">
    </node>

</launch>
