<launch>

    <env name="TURTLEBOT3_MODEL" value="waffle"/>
    <rosparam file="$(find tobor_locomotion)/conf/motors.yaml" />

    <include file="$(find tobor_locomotion)/launch/teleop.launch"/>

    <include file="$(find tobor_locomotion)/launch/roboclaw_odom.launch" />

    <node
        name = "gpsd_client"
        pkg = "gpsd_client"
        type = "gpsd_client">
    </node>

    <include 
      file="$(find tobor_navigation)/launch/start_navigation.launch"  >
    </include>

    <include
      file="$(find realsense2_camera)/launch/rs_t265.launch" >
         <remap from="/camera/odom/sample" to="odom" />
    </include>

    <include
      file="$(find tobor_locomotion)/launch/sensors.launch"> 
    </include>

</launch>
