<launch>
 <arg name="start_joy" default="false"/>
 <node 
    pkg = "teleop_twist_joy"
    name = "teleop_twist"
    type = "teleop_node">
 </node>

 <group if="$(arg start_joy)">
    <node
       name="gamepad"
       type = "joy_node"
       pkg = "joy"
       args ="_autorepeat_rate:=15">
    </node>
 </group>


 <!--
 <node
    name= "teleop_convert"
    pkg = "tobor_locomotion"
     type= "teleop_node">
 </node>
 -->
</launch>