<launch>

  <!-- this will generate the gps odometry from the rtk sat fix -->
  <node 
    pkg="tobor" 
    type="rtk_odom" 
    name="gps_odom">
  </node>

  <!-- this will merge the imu, wheel, gps odometry into one -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="5.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="true"/>
    <param name="self_diagnose" value="true"/>
      <remap from="vo" to="gps_odom" />
  </node>

 </launch>